<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



<!-- Favicon icon-->


<!-- Libs CSS -->


<link href="../static/css/bootstrap-icons.css" rel="stylesheet">
<link href="../static/css/dropzone.css" rel="stylesheet">
<link href="../static/css/materialdesignicons.min.css" rel="stylesheet">
<link href="../static/css/prism-okaidia.css" rel="stylesheet">








<!-- Theme CSS -->
<link rel="stylesheet" href="../static/css/theme.min.css">
    <title>404   </title>
  </head>

  <body class="bg-white">
    <!-- Error page -->
    <div class="container min-vh-100 d-flex justify-content-center
      align-items-center">
      <!-- row -->
      <div class="row">
        <!-- col -->
        <div class="col-12">
          <!-- content -->
          <div class="text-center">
            <div class="mb-3">
              <!-- img -->
              <img src="../static/images/404-error-img.png" alt="" class="img-fluid">
            </div>
            <!-- text -->
            <h1 class="display-4 fw-bold">{{ message }}</h1>
            <p class="mb-4"> </p>
              <!-- button -->

          </div>
        </div>
      </div>
    </div>
    <!-- Scripts -->
    <!-- Libs JS -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.bundle.min.js"></script>
<script src="static/js/jquery.slimscroll.min.js"></script>
<script src="static/js/feather.min.js"></script>
<script src="static/js/prism.js"></script>
<script src="static/js/apexcharts.min.js"></script>
<script src="static/js/dropzone.min.js"></script>
<script src="static/js/prism-toolbar.min.js"></script>
<script src="static/js/prism-copy-to-clipboard.min.js"></script>




<!-- Theme JS -->
<script src="static/js/theme.min.js"></script>
  </body>

</html>